body{
  color: #40514E;
  margin: 0;
  text-align: center; /*allienamento di testo centrale*/
  font-family: 'Merriweather Sans', sans-serif;

}

h1{
 font-family: 'Sacramento', cursive;
 font-size: 5.625rem;  /*562.5% is equal at 0-px = formula is {100%=16px=1em} 90px/16*/
/*  font-weight:bolder;
 padding-left: 550px;*/
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: 50px;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;

}

p{
  line-height: 2;
}

.main-conteiner{
  background-color: #E8F9FD;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  margin: 100px 0;
}
.pro{
  text-decoration: underline;
}

.profilo{
  width: 15%;
  border-radius: 50%;
  position: relative;
  top: 10px;

}

.p1{
  margin:auto;
  width: 30%;

}


    /*    IMAGES          */

.top-nuvola{
  position: absolute;
  right: 400px;
  top: 100px;
}

.bottom-nuvola{
  position: absolute;
  left: 400px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto; /* centra il mezzo*/
  text-align: left;
  list-style-position: inside;

}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.beers-img{
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;

}
.title-beers{
  color: #11999E;
}

                /*         CONTACT ME     */

.contact-me{
  margin-bottom: 60px;
}

.get-in-touch{
  margin-top: 100px;
}

.h-3{
  margin-bottom: 40px;
}

.p{
  width: 40%;
  margin: 40px auto 60px
}
.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;

}


.bottom-container{
  background-color: #66BFBF;
  position: relative;
  padding: 50px 0 20px;
}

.footer-link{
line-height: 2;
}

.Name{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
/*         APPUNTI
 .text-beers{
  text-align: right;
}

.code-skill-description{
  clear: left;
}
.beers-skill-description-2{
  clear: right;
}   */
